<section class="rounded mb-4 p-1 bg-white w-full bg-opacity-70 text-center">
    <h5 class="text-xs font-bold text-yellow-600 text-opacity-50 mb-3">{{plan}}</h5>
    <span class="text-lg mb-4 font-semibold text-yellow-600">{{price}}</span>
    <h2 class="text-xs font-bold mb-4">{{lesson}}</h2>
    <div class="flex justify-center">
        <a [href]="'https://wa.me/+5575988443663?text=Olá,%20gostaria%20de%20assinar%20o%20*' + plan + '*%20de%20*' + lesson + '*.'" target="_blank"
            class="inline-block px-4 py-1 leading-none border rounded text-yellow-600 border-yellow-600 hover:border-transparent hover:text-white hover:bg-yellow-600 hover:text-white lg:px-8 lg:py-2">Assinar</a>
    </div>
</section>